* {
  --twitter-background: #000;
  --twitter-text-color: #fff;
  --twitter-dark-color: rgba(231, 233, 234, 0.1);
  --twitter-blue: rgb(29, 155, 240);
  --twitter-dark-blue: rgb(26, 140, 216);
  --twitter-grey: rgb(113, 118, 123);
  --twitter-border: rgb(47, 51, 54);
  --twitter-search-background: rgb(32, 35, 39);
  --twitter-widgets-background: rgb(22, 24, 28);
  --twitter-widgets-hover: rgba(255, 255, 255, 0.03);
  --twitter-widgets-info-hover: rgba(29, 155, 240, 0.1);
}

body {
  background-color: var(--twitter-background);
  color: var(--twitter-text-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.App {
  width: 1250px;
  display: grid;
  grid-template-columns: 1.2fr 2.8fr 1.8fr;
}
