* {
  --twitter-background: #000;
  --twitter-text-color: #fff;
  --twitter-dark-color: rgba(231, 233, 234, 0.1);
  --twitter-blue: rgb(29, 155, 240);
  --twitter-dark-blue: rgb(26, 140, 216);
  --twitter-grey: rgb(113, 118, 123);
  --twitter-border: rgb(47, 51, 54);
  --twitter-profile-cover: rgb(51, 54, 57);
  --twitter-search-background: rgb(32, 35, 39);
  --twitter-widgets-background: rgb(22, 24, 28);
  --twitter-widgets-hover: rgba(255, 255, 255, 0.03);
  --twitter-blue-hover: rgba(29, 155, 240, 0.1);
  --twitter-green: rgb(0, 186, 124);
  --twitter-green-hover: rgba(0, 186, 124, 0.1);
  --twitter-red: rgb(249,24,128);
  --twitter-red-hover: rgba(249,24,128,0.1);
}

body {
  background-color: var(--twitter-background);
  color: var(--twitter-text-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.App {
  width: 1250px;
  display: grid;
  grid-template-columns: 275px auto 380px;
}
