.main-header {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.main-header > .info {
  margin: 3px 0 3px 30px;
}

.info > h1 {
  font-size: 20px;
  margin: 0;
}

.info > .tweets-count {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--twitter-grey);
}

.main-header > .MuiSvgIcon-root {
  margin-left: 10px;
  padding: 6px;
  cursor: pointer;
}

.main-header > .MuiSvgIcon-root:hover {
  background-color: var(--twitter-dark-color);
  border-radius: 50%;
}
