.sidebar-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px 5px 10px 0;
  padding: 10px;
  min-width: 0;
}

.sidebar-profile > .MuiSvgIcon-root {
  font-size: 18px;
  margin-left: 14px;
}

.sidebar-profile:hover {
  background-color: var(--twitter-dark-color);
  border-radius: 40px;
}
