.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.sidebar-option:hover {
  background-color: var(--twitter-dark-color);
  border-radius: 30px;
  transition: 100ms ease-out;
}

.sidebar-option > .MuiSvgIcon-root {
  padding: 10px;
  font-size: xx-large;
}

.sidebar-option > h2 {
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  margin-right: 30px;
}
