.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-option:hover {
  background-color: var(--twitter-dark-color);
  border-radius: 30px;
  transition: 100ms ease-out;
}

.sidebar-option > .MuiSvgIcon-root {
  padding: 20px;
  font-size: x-large;
}

.sidebar-option > h2 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-option--active > h2,
.sidebar-option--active > .MuiSvgIcon-root {
  font-weight: 700;
}
